[Unit]
Description=Signal generator
Requires=jackd.service
After=jackd.service sound.target

[Service]
Type=simple
User=synth
ExecStart=/home/synth/python-siggen/.venv/bin/siggen -f /home/synth/python-siggen/rpi-config/active.yml
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
