---
tables:
  tsize: 512

devices:
  audio: jack
  midi: 
    name: nanoKONTROL2 MIDI 1

synths:
  - type: sine
    freq: 16
    volume: 102

  - type: sine
    freq: 17
    volume: 103

  - type: sine
    freq: 18
    volume: 104

  - type: sine
    freq: 19
    volume: 105

controls:
  play: 41
  stop: 42

mixers:
  default:
    Speaker:
      output:
        FRONT_LEFT: 108
        FRONT_RIGHT: 109
    Mic:
      capture:
        MONO: 20

external:
  - control: 43
    script: |
      #!/bin/sh
      cd /home/synth/python-siggen/rpi-config
      ln -sf config1.yml active.yml
      sudo systemctl restart siggen
