---
tables:
  tsize: 512

devices:
  audio: jack
  midi: 
    name: nanoKONTROL2 MIDI 1

synths:
  - type: sine
    freq: 16
    volume: 102

  - type: triangle
    freq: 17
    volume: 103

  - type: square
    freq: 18
    volume: 104

  - type: sawtooth
    freq: 19
    volume: 105

  - type: passthrough
    volume: 106

controls:
  play: 41
  stop: 42

mixers:
  default:
    Speaker:
      output:
        FRONT_LEFT: 108
        FRONT_RIGHT: 109
    Mic:
      output:
        MONO: 107
      capture:
        MONO: 21

external:
  - control: 43
    script: |
      #!/bin/sh
      cd /root/python-siggen/rpi-config
      ln -sf config2.yml active.yml
      systemctl restart siggen
