html {
	width: 8in;
	margin: auto;
	font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
}

pre {
	padding: 1ex;
	background-color: #d0d0d0;
	border: thin solid black;
}

h2 {
	border-bottom: 0.5ex solid black;
}

